.hero{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("../assets/hero.jpg");

    background-size:cover;

    background-position:center;

    color:white;

    text-align:center;

}

.hero h1{

    font-size:60px;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    margin-bottom:35px;

}

.hero button{

    padding:16px 40px;

    background:#d4af37;

    border:none;

    font-size:18px;

    border-radius:50px;

    cursor:pointer;

    transition:.3s;

}

.hero button:hover{

    transform:scale(1.08);

}